In [22]:
import pandas as pd
import os

pwd = os.path.abspath(os.getcwd())

record_path = os.path.join(pwd, 'detail_records')


for filename in os.listdir(record_path):
    f = os.path.join(record_path, filename)
    if os.path.isfile(f):
        df = pd.read_csv(f, header=None)

<ipython-input-22-0f0e760d55a9>:12: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, header=None)
<ipython-input-22-0f0e760d55a9>:12: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, header=None)

                  0        1          2           3    4    5    6   \
36081  xiezhi1000006  华A6CU11  32.378778  117.356267  112  106  NaN

                   7    8   9   10  11  12  13  14  15  16  17  18
36081  7/1/2017 08:00  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
                    0        1          2           3    4    5    6   \
40493  shenxian1000004  华ADJ750  35.821128  107.444356  110  336  NaN

                   7    8   9   10  11  12  13  14  15  16  17  18
40493  6/1/2017 08:00  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
                    0        1          2           3    4    5    6   \
45844  shenxian1000004  华ADJ750  27.013715  106.099644  117  239  NaN

                    7   8   9   10  11  12  13  14  15  16  17  18
45844  11/1/2017 08:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
                0        1          2           3   4    5    6   \
56714  duxu1000009  华AT75H8  30.669953  104.451457  89  272  NaN

                   7   8   9   10  11  12  13  14  15  16  17  18
56714  4/1/2017 08:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
                   0        1          2           3   4    5   \
38930  panxian1000005  华AX542C  23.120425  113.305581  62  101

                     6               7   8   9   10  11  12  13  14  15  16  \
38930  广东省广州市越秀区:已到达目的地  3/1/2017 03:37 NaN NaN NaN NaN NaN NaN NaN NaN NaN

       17  18
38930 NaN NaN
                   0        1          2           3    4   5   \
40439  xiexiao1000001  华AEB132  31.248949  121.486031  106  83

                         6               7   8   9   10  11  12  13  14  15  \
40439  上海市闸北区天潼路619号:已到达目的地  1/1/2017 23:24 NaN NaN NaN NaN NaN NaN NaN NaN

       16   17  18
40439 NaN  1.0 NaN
                 0        1          2           3   4   5   \
30800  likun1000003  华AVM936  34.601204  119.172545  86  75

                                  6               7    8   9   10  11  12  13  \
30800  江苏省连云港市新浦区海连西路8号-26-1号:已到达目的地  5/1/2017 07:50  NaN NaN NaN NaN NaN NaN

       14  15  16  17  18
30800 NaN NaN NaN NaN NaN
                 0        1          2           3    4    5    6   \
42786  zouan1000007  华A58M83  30.735157  104.141508  144  233  NaN

                    7   8   9   10  11  12  13  14  15  16  17  18
42786  10/1/2017 08:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
                  0        1          2           3   4   5              6   \
36855  hanhui1000002  华AZI419  39.928854  116.394569  89  43  北京市西城区:已到达目的地

                   7    8   9   10  11  12  13  14  15  16  17  18
36855  8/1/2017 07:35  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
                  0        1          2           3    4    5    6   \
44498  hanhui1000002  华AZI419  26.617975  119.209553  107  169  NaN

                   7    8   9   10  11  12  13  14  15  16  17  18
44498  9/1/2017 08:00  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN

<ipython-input-22-0f0e760d55a9>:12: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, header=None)
<ipython-input-22-0f0e760d55a9>:12: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, header=None)

In [21]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,xiezhi1000006,华A6CU11,32.377608,117.360547,68,106,NaN,7/1/2017 08:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,xiezhi1000006,华A6CU11,32.376968,117.362887,81,106,NaN,7/1/2017 08:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,xiezhi1000006,华A6CU11,32.376075,117.366152,114,106,NaN,7/1/2017 08:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,xiezhi1000006,华A6CU11,32.375323,117.368902,96,106,NaN,7/1/2017 08:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,xiezhi1000006,华A6CU11,32.374734,117.371057,75,106,NaN,7/1/2017 08:01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44494,hanhui1000002,华AZI419,26.623941,119.208292,107,169,NaN,9/1/2017 07:59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44495,hanhui1000002,华AZI419,26.623260,119.208436,138,169,NaN,9/1/2017 07:59,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
44496,hanhui1000002,华AZI419,26.620743,119.208968,128,169,NaN,9/1/2017 07:59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44497,hanhui1000002,华AZI419,26.619563,119.209218,120,169,NaN,9/1/2017 07:59,NaN,NaN,NaN,NaN,NaN,NaN,1.0,12.0,NaN,NaN,NaN
44498,hanhui1000002,华AZI419,26.617975,119.209553,107,169,NaN,9/1/2017 08:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
import pandas as pd
import os
import time
import json
import random

def db_connection():
    db = mysql.connector.connect( host = 'comp4442-groupproj.cmwdjsysdln7.us-east-1.rds.amazonaws.com',
    user = 'admin',
    port = '3306',
    database = 'comp4442_project',
    passwd = 'comp4442password')
    return db


header=['driverID', 'carPlateNumber', 'latitude', 'longtitude', 'speed', 'direction', 'siteName', 'time', 'isRapidlySpeedup', 'isRapidlySlowDown', 'isNeutralSlide', 'isNeutralSlideFinished', 'neutralSlideTime', 'isOverspeed', 'isOverspeedFinished', 'overspeedTime', 'isFatigueDriving', 'isHthrottleStop', 'isOilLeak']

for filename in os.listdir(record_path):
    f = os.path.join(record_path, filename)
    if os.path.isfile(f):
        df = pd.read_csv(f, names=header, index_col=False)
        df["time"] = pd.to_datetime(pd["time"])
        #frame.to_sql(con=db, name='detail_records', if_exists='replace')

<ipython-input-33-ee1f3890e778>:21: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, names=header, index_col=False)

TypeError: 'module' object is not subscriptable

In [31]:
df

,driverID,carPlateNumber,latitude,longtitude,speed,direction,siteName,time,isRapidlySpeedup,isRapidlySlowDown,isNeutralSlide,isNeutralSlideFinished,neutralSlideTime,isOverspeed,isOverspeedFinished,overspeedTime,isFatigueDriving,isHthrottleStop,isOilLeak
0,xiezhi1000006,华A6CU11,32.377608,117.360547,68,106,NaN,7/1/2017 08:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,xiezhi1000006,华A6CU11,32.376968,117.362887,81,106,NaN,7/1/2017 08:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,xiezhi1000006,华A6CU11,32.376075,117.366152,114,106,NaN,7/1/2017 08:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,xiezhi1000006,华A6CU11,32.375323,117.368902,96,106,NaN,7/1/2017 08:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,xiezhi1000006,华A6CU11,32.374734,117.371057,75,106,NaN,7/1/2017 08:01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44494,hanhui1000002,华AZI419,26.623941,119.208292,107,169,NaN,9/1/2017 07:59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44495,hanhui1000002,华AZI419,26.623260,119.208436,138,169,NaN,9/1/2017 07:59,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
44496,hanhui1000002,华AZI419,26.620743,119.208968,128,169,NaN,9/1/2017 07:59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44497,hanhui1000002,华AZI419,26.619563,119.209218,120,169,NaN,9/1/2017 07:59,NaN,NaN,NaN,NaN,NaN,NaN,1.0,12.0,NaN,NaN,NaN
44498,hanhui1000002,华AZI419,26.617975,119.209553,107,169,NaN,9/1/2017 08:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
import time
from datetime import datetime, timedelta
now = datetime.now()
now = now.strftime("%Y-%M-%D %H:%M:%S")

sql2 = "INSERT INTO realtime_records (driverID,carPlateNumber,latitude,longtitude,speed,direction,siteName,time,isRapidlySpeedup,isRapidlySlowdown,isNeutralSlide,isNeutralSlideFinished,neutralSlideTime,isOverspeed,isOverspeedFinished,overspeedTime,isFatigueDriving,isHthrottleStop,isOilLeak)SELECTdriverID,carPlateNumber,latitude,longtitude,speed,direction,siteName,time,isRapidlySpeedup,isRapidlySlowdown,isNeutralSlide,isNeutralSlideFinished,neutralSlideTime,isOverspeed,isOverspeedFinished,overspeedTime,isFatigueDriving,isHthrottleStop,isOilLeak FROM detail_records WHERE detail_records.time='{0}'".format(now)

AttributeError: 'str' object has no attribute 'isoformat'

In [8]:
print(sql2)

INSERT INTO realtime_records (driverID,carPlateNumber,latitude,longtitude,speed,direction,siteName,time,isRapidlySpeedup,isRapidlySlowdown,isNeutralSlide,isNeutralSlideFinished,neutralSlideTime,isOverspeed,isOverspeedFinished,overspeedTime,isFatigueDriving,isHthrottleStop,isOilLeak)SELECTdriverID,carPlateNumber,latitude,longtitude,speed,direction,siteName,time,isRapidlySpeedup,isRapidlySlowdown,isNeutralSlide,isNeutralSlideFinished,neutralSlideTime,isOverspeed,isOverspeedFinished,overspeedTime,isFatigueDriving,isHthrottleStop,isOilLeak FROM detail_records WHERE detail_records.time='2022-04-23 22:16:30.343077'